.DS_Store
tools/*
stash/*
_downloads/*
build/*
Resources_ALC283/layout/*.zlib
u430.xcodeproj/project.xcworkspace/xcuserdata
u430.xcodeproj/project.xcworkspace/xcshareddata/u430.xccheckout
u430.xcodeproj/project.xcworkspace/xcshareddata/
u430.xcodeproj/xcuserdata
native_linux/*
!native_linux/readme.txt
native_patchmatic/*
!native_patchmatic/readme.txt
native_61ww/*
native_62ww/*
AppleHDAHCD_ALC283.kext
AppleHDA_ALC283_Resources
_hdainject_marker.txt
_hdazml_marker.txt
AppleHDA.kext