<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMBIOS</key>
	<dict>
		<key>Trust</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<true/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 -gux_defer_usb2 -gux_no_idle</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>No</string>
		<key>Secure</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<integer>1</integer>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
		<key>InjectEDID</key>
		<true/>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Theme</key>
		<string>bluemac</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Kernel</key>
			<string>All</string>
		</dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
		</array>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<true/>
				<key>CStates</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>86</string>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0</string>
			<key>IntelGFX</key>
			<string>0x0</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>LAN</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x0</string>
			<key>XHCI</key>
			<string>0x0</string>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<true/>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
				<key>Comment</key>
				<string>Enable USB3 post wake</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAAAQAAYAAAAABA2QoAANkKAAAAAAAAAAAAAAAACAACAAAAMAAAAAEFCQAABAAAhwAAAAIECQAABAAAhwAAAP8AAAABAAAAQAAAAA8AAAABAQAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</data>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAAAQAAYAAAAABA2QoAANkKAAAAAAAAAAAAAAAACAACAAAAMAAAAAEFCQAABAAAhwAAAAIECQAACAAAhwAAAP8AAAABAAAAQAAAAA8AAAABAQAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</data>
				<key>Comment</key>
				<string>HDMI audio connector patch 10.9.2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>PYQI7BA=</data>
				<key>Replace</key>
				<data>PQAAAAA=</data>
				<key>Comment</key>
				<string>AppleHDA ALC283 patch #1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>PYUI7BA=</data>
				<key>Replace</key>
				<data>PQAAAAA=</data>
				<key>Comment</key>
				<string>AppleHDA ALC283 patch #2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>PYQZ1BE=</data>
				<key>Replace</key>
				<data>PYMC7BA=</data>
				<key>Comment</key>
				<string>AppleHDA ALC283 patch #3</string>
			</dict>
		</array>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
