<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixTMR</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixWAK</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q91,0,N) to XQ91</string>
					<key>Find</key>
					<data>X1E5MQA=</data>
					<key>Replace</key>
					<data>WFE5MQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q90,0,N) to XQ90</string>
					<key>Find</key>
					<data>X1E5MAA=</data>
					<key>Replace</key>
					<data>WFE5MAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q94,0,N) to XQ94</string>
					<key>Find</key>
					<data>X1E5NAA=</data>
					<key>Replace</key>
					<data>WFE5NAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q8F,0,N) to XQ8F</string>
					<key>Find</key>
					<data>X1E4RgA=</data>
					<key>Replace</key>
					<data>WFE4RgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q41,0,N) to XQ41</string>
					<key>Find</key>
					<data>X1E0MQA=</data>
					<key>Replace</key>
					<data>WFE0MQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(UPBI,0,N) to XPBI</string>
					<key>Find</key>
					<data>VVBCSQA=</data>
					<key>Replace</key>
					<data>WFBCSQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(UPBS,0,N) to XPBS</string>
					<key>Find</key>
					<data>VVBCUwA=</data>
					<key>Replace</key>
					<data>WFBCUwA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XSEL,0,S) to XXEL</string>
					<key>Find</key>
					<data>WFNFTAg=</data>
					<key>Replace</key>
					<data>WFhFTAg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
			</array>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1 nv_disable=1 dart=0</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#FrequencyMHz</key>
		<integer>1800</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>#FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel HD Graphics</string>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>#Comment-0</key>
				<string>9MB cursor bytes (as per orginal vbo idea)</string>
				<key>framebuffer-cursormem</key>
				<data>AACQAA==</data>
				<key>#Comment-1</key>
				<string>0x0a260006 disable 0105 port, change 0204 port to HDMI (RehabMan)</string>
				<key>framebuffer-portcount</key>
				<data>AgAAAA==</data>
				<key>framebuffer-memorycount</key>
				<data>AgAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-alldata</key>
				<data>AgQJAAAIAACHAAAA/wAAAAEAAABAAAAA</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1b,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel HDA</string>
				<key>layout-id</key>
				<integer>3</integer>
				<key>PinConfigurations</key>
				<data></data>
			</dict>
			<key>PciRoot(0)/Pci(0x03,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel HDMI HDA</string>
				<key>layout-id</key>
				<integer>3</integer>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
			<key>PciRoot(0)/Pci(0x1d,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel EHCI #1</string>
				<key>subsystem-id</key>
				<data>cHIAAA==</data>
				<key>subsystem-vendor-id</key>
				<data>hoAAAA==</data>
				<key>AAPL,current-available</key>
				<integer>2100</integer>
				<key>AAPL,current-extra</key>
				<integer>2200</integer>
				<key>AAPL,current-extra-in-sleep</key>
				<integer>1600</integer>
				<key>AAPL,max-port-current-in-sleep</key>
				<integer>2100</integer>
			</dict>
			<key>PciRoot(0)/Pci(0x1a,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel EHCI #2</string>
				<key>subsystem-id</key>
				<data>cHIAAA==</data>
				<key>subsystem-vendor-id</key>
				<data>hoAAAA==</data>
				<key>AAPL,current-available</key>
				<integer>2100</integer>
				<key>AAPL,current-extra</key>
				<integer>2200</integer>
				<key>AAPL,current-extra-in-sleep</key>
				<integer>1600</integer>
				<key>AAPL,max-port-current-in-sleep</key>
				<integer>2100</integer>
			</dict>
			<key>PciRoot(0)/Pci(0x14,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel xHCI</string>
				<key>subsystem-id</key>
				<data>cHIAAA==</data>
				<key>subsystem-vendor-id</key>
				<data>hoAAAA==</data>
				<key>AAPL,current-available</key>
				<integer>2100</integer>
				<key>AAPL,current-extra</key>
				<integer>2200</integer>
				<key>AAPL,current-extra-in-sleep</key>
				<integer>1600</integer>
				<key>AAPL,max-port-current-in-sleep</key>
				<integer>2100</integer>
				<key>#Comment-0</key>
				<string>No XHC to EHC port routing for USB2</string>
				<key>RM,pr2-force</key>
				<data>/z8AAA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Hidden</key>
					<true/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Title</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Kernel</key>
			<string>All</string>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for non-Apple SSDs</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
			</dict>
		</array>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit Vandroiy)</string>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit Vandroiy)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
