<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>0.9 AR9280 rebrand as AR946x, Copyright 2014 RehabMan, GPL v2</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.injector.AR946x</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AirPort_AR9280_as_AR946x</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AR9280 as AR946x</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPort.Atheros40</string>
			<key>IOClass</key>
			<string>AirPort_AtherosNewma40</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci168c,34</string>
			</array>
			<key>IOProbeScore</key>
			<integer>600</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>0.9 AR9280 rebrand as AR946x, Copyright 2014 RehabMan, GPL v2</string>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
